[Unit]
Description=Ring radial window snapper
Documentation=https://github.com/RingHQ/Ring
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/ring run
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
